body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
body div {
    display: flex;
    flex-direction: column;
}

.left-image {
    width: 40%;
    background-image: url(images/background2.jpg);
    background-size: cover;
}

.content-wrap{
    width: 60%;
    background-color: rgb(251 188 105)
}

.logo-wrapper {
    background-color: rgba(251, 188, 105, 0.30) ;
    height: 20%;
    align-items: center;
    margin-top: 70px;
}

.logo-wrapper img{
    width: 18%;
    margin-top: 10px;
}